@import '../layout/queries.scss';
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  @include center;
  @include for-phone-only{
    width: 100%;
    height: 10%;
  }
  @include for-small-tablet{
    width: 15%;
  }

  ul {
    @include center;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    @include for-phone-only{
      flex-direction: row;
      width: 100%;
    }
    li {
      margin: 0;
      padding: 0;
      a {
        padding: 40px;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        outline: none;
        z-index: 2;
        position: relative;
        transition-delay: 0.3s;
        transition: 0.3s ease-in;
        @include for-4k-up{
          font-size: 50px;
        }
      }
    }
  }
  span {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    transform: translate(0%, -100%);
    z-index: 1;
    transition: 0.7s cubic-bezier(.62, -0, 0, 1);
    @include center;
    @include for-phone-only{
      width: 90px;
    }
    @include for-small-tablet{
      width: 75px;
    }
    @include for-4k-up{
      width: 170px;
      height: 170px;
      transform: translate(0%, -90%);
    }
    svg {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transform: scale(.6);
      transition: 0.2s ease .3s;
      @include for-phone-only {
        width: 55px;
      }
      @include for-small-tablet{
        width: 70px;
      }
      @include for-4k-up{
        width: 170px;
        height: 170px;
      }
    }
    .svg-state-active {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
    .triangle {
      right: -2px;
      top: -12px;
      @include for-phone-only {
        right: 19px;
        top: -10px;
      }
      @include for-small-tablet{
        right: 3px;
      }
      @include for-4k-up{
        right: 6px;
        top: 2px;
      }
    }
  }
}
