@import '../layout/queries.scss';
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  @include center;

  ul {
    @include center;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    li {
      margin: 0;
      padding: 0;
      a {
        padding: 40px;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        outline: none;
        z-index: 2;
        position: relative;
        transition-delay: 0.3s;
        transition: 0.3s ease-in;
      }
    }
  }
  span {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    transform: translate(0%, -100%);
    z-index: 1;
    transition: 0.7s cubic-bezier(0.74, -0.05, 0, 1.75);
    @include center;
    svg {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transform: rotate(0deg) scale(0);
      transition: 0.5s ease .1s;
      @include for-phone-only {
        width: 70px;
        height: 70px;
      }
    }
    .svg-active {
      visibility: visible;
      opacity: 1;
      transform: rotate(360deg) scale(1);
    }
    .triangle {
      right: -2px;
      top: -12px;
      @include for-phone-only {
        right: 20px;
        top: 9px;
      }
    }
  }
}
