@import './scrollBar.scss';
@import './body.scss';
@import '../components/fpSections.scss';
@import '../components/navBar.scss';
@import '../components/slides.scss';
@import '../settings/font-face.scss';
@import '../settings/colors.scss';
@import '../layout/queries.scss';

#root{
  opacity: 0;
  visibility: hidden;
  transition: .7s;
}